.login-page {
    text-align: center;
    margin-top: 10%;

}
input[type = password]{
    width: 30%;
    margin: auto;

}
#username{
    width: 30%;
    margin: auto;
}



.authorization{
    text-align: center;
}

input[type = email]{
    width: 30%;
    margin: auto;

}

